<div class="container">
  <div class="profile">
    <div>
      <h3>Profile</h3>
      <p><b>Farmer: </b><%= farmer.name %></p>
      <p><b>Farm Name: </b><%= farmer.farm_name %></p>
      <p><b>Phone: </b><%= farmer.phone %></p>
      <p><b>Location: </b><%= farmer.address.street %> <%= farmer.address.city %>, <%= farmer.address.state %> <%= farmer.address.zipcode %></p>
      <p><b>Organic: </b><%= farmer.details.organic %></p>
      <p><b>Products: </b><%= farmer.details.products.meat.beef %></p>
    </div>

    <a href="/farmers" class="btn btn-primary">Back</a>
    <a href="/farmers/<%= farmer._id %>/edit" class="btn btn-danger">Edit your details</a>
  </div>
</div>
