
 <!--  <body> -->
<div class= "container">
 <h1><%= title %></h1>
  <h5> "We pick it, you click it!" </h5>
  <div class="row_index">
      <div class="title col-lg-6 col-lg-offset-3"></div>
      <div class="col-lg-6">  <img class= "boxes" src="./images/BAN.png">  </div>
      <div class="col-lg-6">  <img class= "boxes2" src="./images/BAN2.png">  </div>
  </div>
</div>

<div class = "wrapper">
  <div class = "row">
    <div class = "search-info col-lg-6 col-lg-offset-3">
      <h2>Tell us what you're looking for.</h2>
      <h4>Select one or more options to find farmers near you!</h4>
    </div>
  </div>
  <div class ="search-info row">
    <hr>
    <div class="col-xg-10 col-md-offset-1">
      <!-- HEADERS -->
      <div class="row">
        <div class = "col-md-4">
          <h3><b>PRODUCE</b></h3>
        </div>
        <div class = "col-md-4">
          <h3><b>MEATS</b></h3>
        </div>
        <div class = "col-md-4">
          <h3><b>OTHER</b></h3>
        </div>
      </div>
      <!-- PRODUCT LIST -->
      <div class="row">
        <form class="form" method="GET" action="/search %>">
          <!-- PRODUCE ROW SECTION -->
          <div class="row">
            <% allProducts.produce.forEach(function(product) { %>
              <div class="col-sm-4">
                <input type="checkbox"
                       name="products[]"
                       value="<%= product.name %>"
                       id="<%= product.name %>" >
                <label for="<%= product.name %>"><%= product.label %></label>
              </div>
            <% }) %>

            <!-- MEATS SECTION -->
            <% allProducts.meats.forEach(function(product) { %>
              <div class="col-sm-5">
                <input type="checkbox"
                       name="products[]"
                       value="<%= product.name %>"
                       id="<%= product.name %>" >
                <label for="<%= product.name %>"><%= product.label %></label>
              </div>
            <% }) %>

            <!-- OTHER SECTION -->
            <% allProducts.otherProducts.forEach(function(product) { %>
              <div class="col-sm-2">
                <input type="checkbox"
                       name="products[]"
                       value="<%= product.name %>"
                       id="<%= product.name %>" >
                <label for="<%= product.name %>"><%= product.label %></label>
                <br />
              </div>
            <% }) %>
          </div>
            <div class="row">
              <div id="btn">
                <button class="btn btn-primary btn-lg" type="submit">Find a Farmer!</button>
              </div>
            </div>
        </form>
      </div>
      <!-- END OF PRODUCTS ROW -->
    </div>
</div>
<!-- END OF SECOND PART OF MAIN PAIGE -->



